<div class="flex-center">
  <div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" >
      <h4>Username</h4>
      <mat-form-field>
        <mat-label> Username </mat-label>
            <input matInput placeholder="Username" formControlName="username" />
      </mat-form-field>
      <h4>Password</h4>
      <mat-form-field>
        <mat-label> Password </mat-label>
            <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>   
      <div *ngIf="messageError"> {{messageError}} </div> 
      <br/>
      <button type="submit" class="btn btn-info"> Register</button>
    </form>  
  </div>
</div>