<div class="header">
    <a href="#default" class="logo">Foody</a>
    <div class="header-right">
        <div *ngIf="currentUser; else notShow">
            <a class="active">Hello, {{currentUser?.firstName}} {{currentUser?.lastName}}</a>
            <a (click)="logout()" routerLink="/">Logout</a>
        </div>
        
        <ng-template #notShow>
            <a class="active" routerLink="/signin">Signin</a>
            <a routerLink="/register">Register</a>
            <a (click)="logout()" routerLink="/">Logout</a>

        </ng-template>
      
    </div>
  </div>
  