/* .header a.active {
    background-color: dodgerblue;
    color: white;
} */
  
.header-right {
  float: right;
}

.active{
  margin: 7px;
}
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }