<div class= "container">
  <form [formGroup]="myForm">
    <mat-form-field>
        <mat-label>What kind of cuisine do you want?</mat-label>
        <mat-select [formControl]="restaurant_types" multiple>
          <mat-option *ngFor="let restaurant_type of restaurant_types" [value]="restaurant_type">{{restaurant_type}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>What type of food do you like?</mat-label>
      <mat-select [formControl]="food_types" multiple>
        <mat-option *ngFor="let food_type of food_types" [value]="food_type">{{food_type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>How far?</mat-label>
      <mat-select [formControl]="miles">
        <mat-option *ngFor="let mile of miles" [value]="mile"> < {{mile}} miles</mat-option>
      </mat-select>
    </mat-form-field>
  
    <button (click)="findMe()">Search</button>
  </form>
</div>

