/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
form{   
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 40px;
  
  }
  
.flex-center, button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    min-width: 100px; 
    font-size: 0.9rem;
}

.mat-form-field{
    min-width: 400px;
    margin-bottom: 20px;
    margin-top: -20px;
}
