<div class="flex-center">
    <div class="row">
      <form [formGroup]="newUserForm" (ngSubmit)="register(newUserForm.value)" >
        <h4>Username</h4>
        <mat-form-field>
          <mat-label> Username </mat-label>
              <input matInput placeholder="Username" formControlName="username" />
        </mat-form-field>
        <span *ngIf="errorMessage" style="color: red; margin-left: 30px;">{{errorMessage}}</span>
        <h4>Password</h4>
        <mat-form-field>
          <mat-label> Password </mat-label>
              <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <h4>First Name</h4>
        <mat-form-field>
          <mat-label>First Name</mat-label>
              <input matInput placeholder="First name" formControlName="firstName">
        </mat-form-field>
        <h4>Last Name</h4>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
        <h4>Email</h4>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <h4>Address</h4>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
        <h4>Phone Number</h4>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number" formControlName="phoneNumber">
        </mat-form-field>
        <h4>Role</h4>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role"> {{role.name}} </mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <button type="submit" class="btn btn-info"> Register</button>
      </form>  
    </div>
</div>

